*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f1f5f9;
}

/* HEADER */
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:70px;
  z-index:1000;
}

/* NAVBAR 
.navbar{
  height:100%;
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
}*/

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;   /* always above everything */
    padding:0px 80px;
    border-bottom:3px solid #00ab41;
    width: 100%;
}
.logo{
    font-size:22px;
    font-weight:700;
    color:#009900;
}

.logo i{
    margin-right:6px;
}

/* NAV LINKS */
.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links a{
    display: block;
    text-decoration:none;
    color:#333;
    font-weight:500;
}
.nav-links a:hover{
    color: #00e600;
}

.nav-links a.active{
    color: #00e600;
}
/* ICONS */
.nav-icons{
    display:flex;
    gap:20px;
    font-size:18px;
}
.nav-icons i:hover{
    color: #00e600;
}

@media(max-width:600px){

    .navbar{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }

    .nav-links{
        gap:20px;
    }

}

.login-container {
    margin: 100px 150px 50px 600px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.login-form i {
    padding-top: 20px;
    margin-left: 120px;
    color: #00ab41;
    font-size: 88px;
    padding-bottom: 20px;
}
.login-form h2 {
    margin-bottom: 5px;
    color: #333;
    text-align: center;
}
.login-form p{
    color: #787878;
    text-align: center;
    margin-bottom: 30px;
}
.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #00ab41;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #006600;
}

.form-footer {
    margin-top: 1rem;
    text-align: center;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}
.form-footer p {
    font-size: 12px;
    color: #787878;
}



